.logo-cont {
  height: 45px;
}

#search-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;

  border: solid 1px lightgray;
  border-radius: 37px;
  overflow: hidden;
  padding: 4px;
  background-color: white;
  box-shadow: 0px 2px 3px 0px lightgray;
  transition: 0.2s;
}

#search-bar button {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: white;
  pointer-events: fill;
  font-weight:600;
}

#search-button {
    padding-top: 4px;
    color: white;
    
}

#search-bar ion-icon {
    background-color: #FF385C;
    padding: 9px;
    border-radius: 18px;
    
    
}

#search-bar span {
    width: 1px;
      height: 25px;
      background-color: #ddd;
      margin-inline: 7px;
}

#search-bar:hover {
    box-shadow: 0px 4px 3px 0px lightgray;
}

#search-bar button:nth-of-type(3) {
    color: gray;
    font-weight: lighter;
}